#main-loading{
	background-color:#0098aa;
	position:relative;
}
#main-loading #app-loading{
	position: absolute;
	background-image: url('images/background.png');
	background-repeat: no-repeat;
	width:470px;
	height:162px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#main-loading #loading-gif{
	position: absolute;
	background-repeat: no-repeat;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
